{% extends "base.html" %}
{% block title %}{{ article.title }}{%endblock%}
{% block head %}
    {{ super() }}

    {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
    {% endfor %}



    <!-- COMMON TAGS -->
    <!-- Search Engine -->
    <meta name="description" content="{% block description %}{% if article.description %}{{ article.description }}{% else %}{{ article.summary | striptags | truncate(200)}}{% endif %}{% endblock description %}">
    <meta name="image" content="{{ SITEURL }}/images/news/{{ article.picture }}">

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{ article.title }}">
    <meta itemprop="description" content="{{ self.description() }}">
    <meta itemprop="image" content="{{ SITEURL }}/images/news/{{ article.picture }}">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ article.title }}">
    <meta name="twitter:description" content="{{ self.description() }}">
    <meta name="twitter:creator" content="@diagnijmegen">
    <meta name="twitter:image:src" content="{{ SITEURL }}/images/news/{{ article.picture }}">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{ article.title }}">
    <meta name="og:description" content="{{ self.description() }}">
    <meta name="og:image" content="{{ SITEURL }}/images/news/{{ article.picture }}">
    <meta name="og:site_name" content="Computational Pathology Group">
    <meta name="og:type" content="article">
    <!-- Open Graph - Article -->
    <meta name="article:published_time" content="{{ article.date.isoformat() }}">

{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ SITEURL }}/">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ SITEURL }}/highlights">Highlights</a></li>
        <li class="breadcrumb-item">{{ article.title }}</li>
      </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">{{ article.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {% if article.picture %}
            <img class="img-thumbnail" src="{{ SITEURL }}/images/news/{{ article.picture }}">
            {% endif %}
            <p class="mt-4 ml-1">
                <small class="text-muted"><time class="published" datetime="{{ article.date.isoformat() }}">Published {{ article.locale_date }} </time></small>
            </p>
        </div>

        <div class="col-md-8">
            {{ article.content }}

            <a href="{{ SITEURL }}/highlights" class="mt-5">&larr; Back to overview</a>
        </div>
    </div>

</div>
{% endblock %}
