<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{{ SITENAME }}{% endblock title %} - Computational Pathology Group</title>

    {% endblock head %}

    <!-- Bootstrap core CSS -->
    <link href="{{SITEURL}}/theme/css/theme.min.css" rel="stylesheet">
</head>

<body>
    {% include "blocks/svg-definitions.html" %}
    {% include "blocks/nav-top.html" %}

    <main role="main" class="content {% if page and page.template == 'home' %}content-home{%endif%}">
        {% block content %}
        {% endblock %}
    </main>

    {% include "blocks/footer.html" %}
</body>
</html>
