<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include "blocks/feeds.html" %}

    <title>{% block title %}{{ SITENAME }}{% endblock title %} - Computational Pathology Group</title>

    {% endblock head %}

    <!-- Search Engine -->
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="image" content="{% if article %}{{ SITEURL }}/images/news/{{ article.picture }}{% endif %}">

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{ self.title() }} - Computational Pathology Group">
    <meta itemprop="description" content="{{ self.description() }}">
    <meta itemprop="image" content="{% block page_picture %}{% endblock %}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{% if article %}{{ article.title }}{% else %}{{ self.title() }}{% endif %}">
    <meta name="twitter:description" content="{{ self.description() }}">
    <meta name="twitter:creator" content="@diagnijmegen">
    <meta name="twitter:image:src" content="{{ self.picture() }}">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="{% if article %}{{ article.title }}{% else %}{{ self.title() }}{% endif %}">
    <meta property="og:description" content="{{ self.description() }}">
    <meta property="og:image" content="{{ self.picture() }}">
    <meta property="og:site_name" content="Computational Pathology Group">
    <meta property="og:type" content="{% if article %}article{% else %}website{% endif %}">
    {% if article %}
    <meta name="article:published_time" content="{{ article.date.isoformat() }}">
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="{{SITEURL}}/theme/css/theme.min.css" rel="stylesheet">
</head>

<body>
    {% include "blocks/svg-definitions.html" %}
    {% include "blocks/nav-top.html" %}

    <main role="main" class="content {% if page and page.template == 'home' %}content-home{%endif%}">
        {% block content %}
        {% endblock %}
    </main>

    {% include "blocks/footer.html" %}
</body>
</html>
