{% extends "base.html" %}
{% block content %}

<div class="container-home">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron block-primary block-home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-title">Computational Pathology Group</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <p class="lead">The Computational Pathology Group is a research group of the department of Pathology of the Radboud University Medical Center. We work closely together with The Diagnostic Image Analysis Group (DIAG) of the Department of Radiology and Nuclear Medicine. The group develops, validates and deploys novel medical image analysis methods based on deep learning technology and focusing on computer-aided diagnosis. Application areas include diagnostics and prognostics of breast, prostate and colon cancer. We have rapidly expanded over the last few years, counting over 15 people today. Our group is among the international front runners in the field, witnessed for instance by our highly successful CAMELYON challenges. We have a strong translational focus, facilitated by our close collaboration with clinicians and industry.</p>
                </div>
                <div class="col-md">
                    <figure class="figure">
                        <img class="figure-img img-fluid" src="{{ SITEURL }}/images/general/home-page-image.png">
                        <figcaption class="figure-caption text-right">Automated tumor detection</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <h1>Highlights</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    {% for article in articles[0:2] %}
                        {% include 'blocks/article-summary.html' %}
                    {% endfor %}
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <a href="{{ SITEURL }}/news" class="btn btn-primary float-right">All news articles &rarr;</a>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="twitter-embed">
                        <a class="twitter-timeline" data-height="615" data-chrome="transparent noheader nofooter" data-dnt="true" href="https://twitter.com/midl_amsterdam?ref_src=twsrc%5Etfw">Tweets by midl_amsterdam</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <h1>Projects</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                    {% set projects_show_finished = 'false' %}
                    {% include "blocks/project-cards.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <h1>Our team</h1>
        </div>
    </div>
    {% include "blocks/people-grid.html" %}
</div>
{% endblock content %}
