{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
    {% include 'blocks/breadcrumbs.html' %}

    <div class="container">
    <h1 class="page-title">
        {% if page.title_long %}
            {{ page.title_long }}
        {% else %}
            {{ page.title }}
        {% endif %}
    </h1>

    <div class="page-content">
        <p>{{ page.author_list }}</p>

        {% if page.picture_large %}
            <img class="img-fluid mb-3" src="{{ SITUREURL }}/images/{{page.picture_large}}">
        {% endif %}

        <p>
            <a href="{{ SITEURL }}/{{ page.url }}" class="btn btn-primary">Abstract</a>
            <a href="{{ page.arxiv }}" class="btn btn-primary">arXiv</a>
        </p>

        <h2 class="display-5">Abstract</h2>

        {{ page.content }}
    </div>
{% endblock %}
