{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
    {% include 'blocks/breadcrumbs.html' %}

    <div class="container">
    <!-- WORKAROUND: remove replace('\\','')  # TODO this workaround solves the issue in ehte16a, litj15, and tell18a ith H\&E -->
    <h1 class="page-title">{{ page.title.replace('\\','') }}</h1>

    <p class="lead">
        {% for author in page.authors %}
            {{ author }}, 
        {% endfor %}
    </p>

    <i>{{ page.published_in }}</i>
    <br>
    {% if page.doi %}
        <p><a href="{{ page.doi }}" class="btn btn-primary">DOI</a></p>
    {% endif %}

    <h2>Abstract</h2>
    {{ page.content }}

    </div>
{% endblock %}
