/*

Navigation file
-------------------------------------------

Sets basic styles required for the navbar

*/


// No-js mobile toggle
#navbar-toggle-cbox {
   display: none;

   &:checked ~ .collapse {
     display: block;
   }
}

/* Main navbar */
.navbar.navbar-expand-md {
  border-bottom: 1px solid $primary;

  .navbar-brand {
    color: $primary;

    &:hover {
      color: $link-hover-color;
    }
  }

  // Responsive name in the header
  .name-full {
    display: none;
  }
  @include media-breakpoint-up(lg) {
    .name-short { display: none; }
    .name-full { display: inline; }
  }

  .nav-link {
    color: #000000;

    @include media-breakpoint-up(md) {
      padding-left: 0.8rem;
      padding-right: 0.8rem;
    }

    &:hover {
      color: $primary;
      .nav-icon {
        color: $primary;
      }
      .nav-icon-text {
        display: inline-block;
      }
    }
  }

  .nav-icon-text {
    display: inline-block;

    // Hide on small to medium devices
    @include media-breakpoint-between(md, lg) {
      display: none;
    }

    @include media-breakpoint-up(md) {
        &.nav-icon-text-hidden {
          display: none;
        }
    }
  }

  .nav-icon {
    color: $secondary;
    font-size: 1.3rem;
    vertical-align: text-bottom;
    display: inline-block;
    margin-left: 2px;

    @include media-breakpoint-down(sm) {
      float: left;
      margin-right: 10px;
    }
  }
}
