/*

Navigation file
-------------------------------------------

Sets basic styles required for the navbar

*/


// No-js mobile toggle
#navbar-toggle-cbox {
   display: none;

   &:checked ~ .collapse {
     display: block;
   }
}

/* Main navbar */
.navbar.navbar-expand-md {
  border-bottom: 1px solid $primary;

  .navbar-brand {
    color: $primary;

    &:hover {
      color: $link-hover-color;
    }
  }

  // Responsive name in the header
  .name-full {
    display: none;
  }
  @include media-breakpoint-up(lg) {
    .name-short { display: none; }
    .name-full { display: inline; }
  }

  .nav-link {
    color: #000000;

    @include media-breakpoint-up(md) {
      padding-left: 0.8rem;
      padding-right: 0.8rem;
    }
    &:hover {
      color: $primary;
    }
  }

  .svg-icon {
    font-size: 1.1rem;
    vertical-align: middle;
  }
}
