.people-grid {

  padding: 2em 0 2em 0;

  .person {
    text-align: center;
    padding-bottom: 1em;
  }
  .person-name, .person-title {
    text-align: center;
  }
  .person-name {
    color: $primary;
    font-weight: 400;

    padding-top: 0.45em;
  }
  .person-title {
    color: $secondary;
    font-weight: 300;
  }

  .img-thumbnail {
    object-fit: cover;

    height: 115px;
    width: 115px;

    border: 2px solid $gray-300;

    @include media-breakpoint-up(md) {
       width: 150px;
       height: 150px;
    }

    &.placeholder {
      margin: 0 auto;
    }
  }
}

// Styes for individual person pages
.person-single-column {
  padding-right: 2em;

  .person {
    text-align: center;
    margin-bottom: 2em;

    img {
      object-fit: cover;

      width: 200px;
      height: 200px;
    }
  }
}

.person-links {
  border: 1px solid $gray-300;
  border-radius: 0.25rem;
  padding: 1em;

  .row {
    margin-bottom: 0.5em;
  }
  a {
    margin-left: 10px;
  }
  svg {
    width: 22px;
    height: 22px;
    color: $secondary;
    path {
      fill: $secondary;
    }
  }
}
