<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <small class="external-links">
                <a href="https://www.radboudumc.nl">Radboudumc</a> |
                <a href="http://www.diagnijmegen.nl">Diagnostic Image Analysis Group</a> <br>
            </small>

            <a href="{{ SITEURL }}/">
                <span class="name-full">{{ SITENAME }}</span>
                <span class="name-short">{{ SITENAME_SHORT }}</span>
            </a>
        </div>
        <input type="checkbox" id="navbar-toggle-cbox">

        <label for="navbar-toggle-cbox" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </label>

        <div class="collapse navbar-collapse" id="navbar-top">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/highlights">
                        <span class="nav-icon-text">Highlights</span>
                        <svg class="nav-icon svg-icon svg-icon-group"><use xlink:href="#icon-megaphone"></use></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/members" aria-label="Members">
                        <span class="nav-icon-text">Members</span>
                        <svg class="nav-icon svg-icon"><use xlink:href="#icon-users"></use></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/projects" aria-label="Projects">
                        <span class="nav-icon-text">Projects</span>
                        <svg class="nav-icon svg-icon svg-icon-folder"><use xlink:href="#icon-folder"></use></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/software" aria-label="Software">
                        <span class="nav-icon-text">Software</span>
                        <svg class="nav-icon svg-icon svg-icon-code"><use xlink:href="#icon-code"></use></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/publications" aria-label="Publications">
                        <span class="nav-icon-text nav-icon-text-hidden">Publications</span>
                        <svg class="nav-icon svg-icon"><use xlink:href="#icon-format_list_bulleted"></use></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/presentations" aria-label="Presentations">
                        <span class="nav-icon-text nav-icon-text-hidden">Presentations</span>
                        <svg class="nav-icon svg-icon svg-icon-presentations"><use xlink:href="#icon-presentations"></use></svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/contact" aria-label="Contact">
                        <span class="nav-icon-text nav-icon-text-hidden">Contact</span>
                        <svg class="nav-icon svg-icon"><use xlink:href="#icon-envelope-o"></use></svg>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
