{% if project_columns %}
<div class="card-columns">
{% endif %}

{% for project in pages %}
    {% if project.parent.url == 'projects/' %}
        {% if project.finished == 'false' %}
        {% if not project_columns %}
        <div class="col-md-4">
        {% endif %}
            <div class="card mb-4">
                {% if project.picture %}
                <a href="{{ SITEURL }}/{{ project.url }}"><img class="card-img-top" src="{{ SITEURL}}/images/projects/{{ project.picture }}" alt="{{ project.title }}"></a>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title"><a href="{{ SITEURL }}/{{ project.url }}">{{ project.title }}</a></h5>
                    <p class="card-text">{{ project.description }}</p>
                    <a href="{{ SITEURL }}/{{ project.url }}">Read more →</a>
                </div>
            </div>
            {% if not project_columns %}
            </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if project_columns %}
</div>
{% endif %}
